<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Detalhes do produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img class="circle" [src]="produto?.imageUrl || 'assets/img/prod.jpeg'"></ion-img>

    <ion-card-content>
      <ion-card-title class="name">{{produto?.nome}}</ion-card-title>
      <p class="name"> {{produto?.preco | currency}}</p>
      <ion-button expand="block" fill="outline" (click)="addToCart(produto)">Adicionar ao Carrinho</ion-button>

    </ion-card-content>
  </ion-card>

</ion-content>
