<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Escolha o Pagamento</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-label position="stacked">Selecione a forma de pagamento</ion-label>
  <form [formGroup]="paymentForm" (ngSubmit)="goOn(); $event.preventDefault()">
    <ion-radio-group formControlName="@type" (ionChange)="checkValue($event)">
      <ion-list>
        <ion-item>
          <ion-label>Pagamento com Cartão</ion-label>
          <ion-radio checked="true" slot="start" value="pagamentoComCartao"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Pagamento com Boleto</ion-label>
          <ion-radio slot="start" value="pagamentoComBoleto"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-radio-group>
    <ion-item *ngIf="paymentForm.value['@type']  == 'pagamentoComCartao'">
      <ion-label position="stacked">Escolhas quantidade de parcelas</ion-label>
      <ion-select placeholder="parcelas" formControlName="numeroDeParcelas" >
        <ion-select-option *ngFor="let n of parcelas" [value]="n">{{n}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="paymentForm.invalid">Confirmar</ion-button>
  </form>

</ion-content>