<meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src *">

<ion-header>
  <ion-toolbar>
    <ion-title>Sistema de Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
      <img src="assets/img/mdot.jpeg" alt="logo">

      <form>
          <ion-item>
              <ion-label stacked>Email</ion-label> 
              <ion-input [(ngModel)]="creds.email" type="text"  name="email"></ion-input>

          </ion-item>
          <ion-item>
              <ion-label stacked>Senha</ion-label> 
              <ion-input [(ngModel)]="creds.senha" type="password" name="senha"></ion-input>         
          </ion-item>
          <ion-button expand="block" (click)="login()">Entrar</ion-button>
          <ion-button expand="block" fill="outline" (click)="signup()">Registrar</ion-button>
      </form>
  </ion-content>

